/eshell/
/straight/
/.emacs.desktop
/.emacs.desktop.lock
/projects
/transient/
/history
/projectile-bookmarks.eld
/projectile.cache
/places
/forge-database.sqlite
/recentf
/org-roam.db
/bookmarks
/code-review-db-file.sqlite
/.cache/
/.lsp-session-v1
/.org-id-locations
